<a href="https://colab.research.google.com/github/powersurge8891/Association_Rule_Mining/blob/main/Restaurant_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data and libraries

In [1]:
%cd /content/drive/MyDrive/Data Mining for Business in Python/6. Association Rule Learning

/content/drive/MyDrive/Data Mining for Business in Python/6. Association Rule Learning

In [2]:
#libraries
import pandas as pd
from mlxtend.frequent_patterns import association_rules,apriori

In [5]:
dataset=pd.read_csv('restaurants-challenge.csv', header=None)
#the dataset ranks Newyork restaurants according to their sanitary grade
dataset.head()

             0           1   2
0    BROOKLYN     Chinese    Z
1   MANHATTAN    American    C
2       BRONX     Chicken    C
3   MANHATTAN    American    A
4   MANHATTAN    American    A

In [6]:
dataset.shape

(179731, 3)

In [12]:
transaction=[]
for i in range(0, 179731):

  transaction.append(
      [str(dataset.values[i, j])
  for j in range(0,3)]
  
  )

In [13]:
transaction[0]

[' BROOKLYN ', ' Chinese ', ' Z']

In [14]:
#Encoding transactions
from mlxtend.preprocessing import TransactionEncoder
te= TransactionEncoder()
tranEncoded= te.fit_transform(transaction)

In [15]:
tranEncoded

array([[False, False, False, ..., False, False,  True],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

In [17]:
te_trans=pd.DataFrame(tranEncoded, columns=te.columns_)

In [18]:
te_trans.head()

       A   Afghan   ...   Vietnamese/Cambodian/Malaysia       Z
0  False     False  ...                            False   True
1  False     False  ...                            False  False
2  False     False  ...                            False  False
3   True     False  ...                            False  False
4   True     False  ...                            False  False

[5 rows x 92 columns]

#Association Rule

In [22]:
model= apriori(te_trans, min_support=0.03, use_colnames=True)

In [30]:
result= association_rules(model, metric='confidence', min_threshold=0.3)

In [31]:
result.sort_values(by= 'lift', ascending=False)

                  antecedents        consequents  ...  leverage  conviction
17               ( American )  ( A,  MANHATTAN )  ...  0.021269    1.127723
14          ( A,  MANHATTAN )       ( American )  ...  0.021269    1.149608
7               ( MANHATTAN )       ( American )  ...  0.031177    1.110253
8                ( American )      ( MANHATTAN )  ...  0.031177    1.285251
18           ( B,  American )      ( MANHATTAN )  ...  0.007970    1.284848
12                ( Chinese )       ( BROOKLYN )  ...  0.008607    1.105018
16           ( A,  American )      ( MANHATTAN )  ...  0.017182    1.278213
9                 ( Chinese )               ( B)  ...  0.008257    1.108256
0                ( American )               ( A)  ...  0.011692    1.111602
15  ( American ,  MANHATTAN )               ( A)  ...  0.006010    1.105032
11                 ( QUEENS )               ( B)  ...  0.004656    1.029475
13                       ( C)      ( MANHATTAN )  ...  0.001903    1.021167
5               ( MANHATTAN )               ( A)  ...  0.003086    1.015596
4                        ( A)      ( MANHATTAN )  ...  0.003086    1.010345
1                   ( BRONX )               ( A)  ... -0.001192    0.974927
2                ( BROOKLYN )               ( A)  ... -0.003005    0.974170
6                  ( QUEENS )               ( A)  ... -0.003329    0.970776
10                       ( B)      ( MANHATTAN )  ... -0.003474    0.979591
3                 ( Chinese )               ( A)  ... -0.014302    0.800755

[19 rows x 9 columns]